@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0 auto;
  background: #fa4242;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 500px;
  transition: background .3s ease-in-out;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  line-height: 1.1;
  text-align: center;
  color: #013034;
  text-transform: uppercase;
}

button {
  padding: 1rem 2rem;
  margin: 5rem 0;
  border: none;
  border-radius: 2rem;
  background: #171617;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

h3 {
  text-transform: uppercase;
  color: #013034;
}

.alt-color {
  background: #0aa6b1;
} 

